.type {
  padding-top: 60px;
  display: flex;
}
.type-filter {
  width: 210px;
  min-height: 80vh;
  padding: 0px 20px;
  border-right: solid 1px silver;
}
.filter-head {
  font-weight: 600;
}
.filter-title {
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* ----------------------------------------------------------------------------------- */
.type-body,.type-body-inner {
  width: calc(100vw - 270px);
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
}
.type-product {
  width: 250px;
  margin: 20px 10px;
  box-shadow: silver 1px 1px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 20px;
  border-radius: 10px;
}
.type-product-img img {
  width: 240px;
}
.type-product-name {
  font-size: larger;
  font-weight: 700;
}
.type-product-brand {
  font-size: large;
  color: gray;
  margin-top: -5px;
}
.type-product-details {
  font-size: large;
  margin: 10px 0px;
}
.type-product-price {
  font-size: x-large;
}
.product-original-price {
  font-size: large;
  color: grey;
  text-decoration: line-through;
}

@media only screen and (max-width: 480px) {
  .type-filter {
    display: none;
  }
  .type-body {
    width: 98vw;
    padding: 1vw;
  }
  .type-body-inner{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0px;
    grid-column-gap: 1vw;
    grid-row-gap: 1vw;
  }
  .type-product-img img {
    height: 100px;
    width: 120px;
  }
  .type-product {
    width: calc(47vw - 12px);
    margin: 0px;
    padding: 7px;
    box-shadow: none;
    border: solid silver 1px;
    border-radius: 0px;
  }
  .type-product-details {
    font-size: small;
    margin: 10px 0px 0px 0px;
    text-align: justify;
  }
  .type-product-price {
    font-size: large;
  }
  .type-product-name {
    font-size: large;
  }
  .product-original-price{
    font-size: medium;
  }
}
