.poster {
  height: 500px;
  width: 100vw;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  overflow: hidden;
  position: relative;
}
.poster-page1,
.poster-page2,
.poster-page3 {
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  display: flex;
  transition: all 0.3s;
  background: linear-gradient(grey, transparent);
}
.poster-page2 {
  left: 100%;
}
.poster-page3 {
  left: -100%;
}
.poster-prev-btn,
.poster-next-btn {
  height: 50px;
  position: absolute;
  width: 50px;
  top: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: xx-large;
  z-index: 1;
  cursor: pointer;
  border-radius: 50%;
  transition: all 0.5s;
}
.poster-next-btn:hover,
.poster-prev-btn:hover{
  background-color: rgba(0, 0, 0, 0.7);
}
.poster-prev-btn {
  left: 10px;
}
.poster-next-btn {
  right: 10px;
}
.poster-gradient {
  height: 200px;
  width: 100vw;
  position: absolute;
  bottom: 0;
  left: 0;
  background: linear-gradient(to bottom, transparent, #eaededb3, #eaeded);
}
.poster-page1 img,
.poster-page2 img,
.poster-page3 img {
  width: 100%;
}

@media only screen and (max-width: 480px) {
  .poster {
    height: 150px;
  }
  .poster-prev-btn,
  .poster-next-btn {
    height: 30px;
    width: 30px;
    font-size: large;
    top: 30px
  }
  .poster-gradient {
    height: 50px;
  }
}
