.navbar {
  height: 60px;
  width: 100vw;
  background-color: rgb(24, 32, 45);
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  position: fixed;
  z-index: 100;
}
.logo {
  margin-left: 30px;
  font-size: xx-large;
  font-weight: 800;
  font-family: "Poppins", sans-serif;
}
.searchbar {
  height: 100%;
  width: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.searchbar-input {
  font-size: larger;
  width: 80%;
  padding: 5px 20px;
  border: none;
  border-radius: 10px 0px 0px 10px;
}
.searchbar-input:focus {
  outline: none;
}
.searchbar button {
  font-size: larger;
  padding: 5px 15px;
  cursor: pointer;
  border: none;
  border-radius: 0px 10px 10px 0px;
  background-color: goldenrod;
  color: rgb(24, 32, 45);
}

.nav-menu {
  margin-right: 30px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 200px;
}
.nav-cart-btn {
  margin-right: 20px;
  display: flex;
  align-items: center;
  cursor: pointer;
  position: relative;
}
.nav-cart-btn i {
  font-size: x-large;
  margin-right: 2px;
}
.nav-signin-btn {
  height: 100%;
  font-size: larger;
  font-weight: 700;
  border-radius: 5px;
  border: none;
  padding: 5px 15px;
  background-color: goldenrod;
  color: rgb(24, 32, 45);
  cursor: pointer;
}
.nav-signin-btn:active {
  background-color: rgb(180, 136, 26);
}
.nav-profile-btn{
    cursor: pointer;
}
.profile-close-btn{
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: large;
  cursor: pointer;
  background-color: goldenrod;
  height: 40px;
  width: 40px;
  line-height: 40px;
  text-align: center;
  border-radius: 50%;
}